doctype html
html(lang="en")
  //- head
  //-   link(rel="stylesheet" href="style.css")
  body
    h2 Hello Pug!
    h1 js here
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(type="module" src="./src/index.js")