div(class='chat-layout')
  //- left menu
  aside(class='chat-menu')
    != chatSearch
    != chatsList
    != chatMenuCtrls
  //- main window
  main(class='chat-messages')
    div(class='chat-messages-header')
      != chatHeader
    != messagesList
    != messagesCtrls
