main(class='error-wrapper')
  img(src= logo class='error-logo')

  div(class='error-message')
    div(class='error-code')= parameters.code
    div(class='error-title')= parameters.message
    a(class='error-link' href=parameters.linkTo) #{parameters.linkMessage}
