//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/roundBtn/roundBtn.pug

//- variables
- 
  const parameters = {
    code: "418",
    message: "Coming soon...",
    linkTo: "/index.html",
    linkMessage: "Go Back"
  }

//- markup
+centerChildrenMixin(templateStyles)
  +errorMessage(parameters, componentErrorMessageStyles)
  div(style='align-self:flex-end;margin-bottom:30px;display:flex;')
    input(type= 'text', name= 'message', id= 'message', placeholder= 'message', style='margin-right:20px;')
    +roundBtn(componentRoundBtnStyles)