@use 'sass:map';

.round-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  &-normal {
    background-color: map.get($colors, 'yellow');
  }

  &-icon {
    background-color: map.get($colors, 'white');

    &:hover {
      background-color: map.get($colors, 'lightyellow');
    }
  }
}
