@use 'sass:map';

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover {
    background-color: map.get($colors, 'yellow');
  }

  &-red {
    color: map.get($colors, 'error-message');

    &:hover {
      background-color: map.get($colors, 'error-bkg');
    }
  }

  .title {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
  }
}
