//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/sideNav/sideNavMixin.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/roundBtn/roundBtn.pug
include ../../../src/components/textField/textField.pug
include ../../../src/components/avatar/avatar.pug

//- variables
- 
  const parameters = {
    title: 'Create Account',
    linkPasswordTo: '/signIn.html',
    linkPasswordLabel: 'Change password',
    linkLogoutTo: '/signIn.html',
    linkLogoutLabel: 'Log out'
  }
- 
  const textFieldParameters = [
    {
      label: 'Email',
      type: 'text',
      name: 'email', 
      id: 'email', 
      placeholder: 'Email'
    },
    {
      label: 'Username',
      type: 'text',
      name: 'login', 
      id: 'login', 
      placeholder: 'Username'
    },
    {
      label: 'First Name',
      type: 'text',
      name: 'first_name', 
      id: 'first_name', 
      placeholder: 'First Name'
    },
    {
      label: 'Last Name',
      type: 'text',
      name: 'second_name', 
      id: 'second_name', 
      placeholder: 'Last Name'
    },
    {
      label: 'Nickname',
      type: 'text',
      name: 'display_name', 
      id: 'display_name', 
      placeholder: 'Nickname'
    },
    {
      label: 'Phone',
      type: 'text',
      name: 'phone', 
      id: 'phone', 
      placeholder: 'Phone'
    }
  ]

//- template
+sideNavMixin()
  form
    +roundBtn()(style='transform: rotate(180deg);', formaction='/chat.html')
+centerChildrenMixin()
  main
    +credentialsForm(parameters)
      +avatar()(style='margin-bottom:40px;')
      each item in textFieldParameters
        +textField(item)
      +primaryBtn('Submit')(style='margin-top:60px;')
      a(class='credentials_link' href= parameters.linkPasswordTo) #{parameters.linkPasswordLabel}
      a(class='credentials_link' href= parameters.linkLogoutTo) #{parameters.linkLogoutLabel}