//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup
+centerChildrenMixin()
  div(class='error-logo-wrapper')
    img(src= serverErrorLogo class='error-logo')
  +errorMessage(parameters)