//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup
+centerChildrenMixin()
  div(class='server_error_logo_wrapper')
    img(src= serverErrorLogo class='server_error_logo')
  +errorMessage(parameters)