//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup
+centerChildrenMixin(parentClasses.center_children)
  div(class=`${classes.server_error_logo_wrapper}`)
    img(src= serverErrorLogo class=`${classes.server_error_logo}`)
  +errorMessage('500', 'Internal Server Error', '/index.html', 'Go Back', errorMessageClasses)