form(class='form' name='form' id='form')
  //- form avatar
  != avatar

  //- form title
  if title
    div(class='form-title')= title

  //- form input fields list
  != childrenList

  //- form submit element
  != submitBtn

  //- form additional links
  != linkPrimary
  != linkSecondary
