@use 'sass:map';

.form {
  border-radius: 50px;
  width: 480px;

  // min-height: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 10px 1px map.get($colors, 'white');
  background-color: white;

  .form-title {
    font-size: 2em;
    margin-bottom: 40px;
  }
}
