form(class='form')
  //- загаловок формы
  div(class='form-title mb-4')= title

  //- поля ввода
  != childrenList

  //- кнопка отправки формы
  != submitBtn

  //- ссылка
  a(class='form-link' href=linkTo) #{linkMessage}
