form(class='form')
  //- form title
  div(class='form-title mb-4')= title

  //- input fields list
  != childrenList

  //- form submit element
  != submitBtn

  //- additional link
  a(class='form-link' href=linkTo) #{linkMessage}
