@use 'sass:map';

.message-card {
  // background-color: map.get($colors, 'altgray');
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  border-radius: 10px;
  display: inline-block;

  .message-card-time {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 0.7em;
    color: darkgrey;
  }

  &-outgoing {
    align-self: flex-end;
    background-color: #fcffc8;
    box-shadow: 1px 1px 20px #fbffc3;
  }

  &-incoming {
    align-self: flex-start;
    background-color: white;
    box-shadow: 1px 1px 40px white;

    // background-image: linear-gradient(to right, #ebebeb, #ededed, #eeefee, #f0f0f0, #f2f2f2);
  }
}
