//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- variables
- 
  const parameters = {
    code: "500",
    message: "Internal Server Error",
    linkTo: "/index.html",
    linkMessage: "Go Back"
  }

//- markup
+centerChildrenMixin(templateStyles.center_children)
  +credentialsForm(parameters, moduleSignInStyles)
