//- including mixins
include ../../../src/modules/form/form.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/textField/textField.pug

//- template
+centerChildrenMixin()
  main
    +form()
      div(class='form-title mb-6')= parameters.title
      each item in textFieldParameters
        +textField(item)
      +primaryBtn(primaryBtnParameters)
      a(class='form-link' href=parameters.linkTo) #{parameters.linkMessage}