//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug

//- variables
- 
  const parameters = {
    title: "Sign In",
    linkTo: "/index.html",
    linkMessage: "Create account?"
  }

//- markup
+centerChildrenMixin(templateStyles.center_children)
  +credentialsForm(parameters, moduleSignInStyles)
    +primaryBtn("Sign In", componentPrimaryBtnStyles)
