//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/textField/textField.pug

//- template
+centerChildrenMixin()
  main
    +credentialsForm(parameters)
      div(class='credentials_title' style='margin-bottom:60px;')= parameters.title
      each item in textFieldParameters
        +textField(item)
      +primaryBtn(primaryBtnParameters)(style='margin-top:auto;')
      a(class='credentials_link' href=parameters.linkTo) #{parameters.linkMessage}