//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- variables
- 
  var parameters = {
    code: "500",
    message: "Internal Server Error",
    linkTo: "/index.html",
    linkMessage: "Go Back"
  }

//- markup
+centerChildrenMixin(parentClasses.center_children)
  +credentialsForm(parameters, signInClasses)
