//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/textField/textField.pug

//- variables
- 
  const parameters = {
    title: "Sign In",
    linkTo: "/index.html",
    linkMessage: "Create account?"
  }
- 
  const textFieldParameters = [
    {
      label: "Username",
      type: "text",
      name: "name", 
      id: "name", 
      placeholder: "Username"
    },
    {
      label: "Password",
      type: "text",
      name: "name", 
      id: "name", 
      placeholder: "Password"
    }
  ]

//- markup
+centerChildrenMixin(templateStyles.center_children)
  +credentialsForm(parameters, moduleSignInStyles)
    each item in textFieldParameters
      +textField(item, componentTextFieldStyles)
    +primaryBtn("Sign In", componentPrimaryBtnStyles)(style="margin-top:auto;")
