@use 'sass:map';

.chat-messages-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $menus-height;
  border-top: 1px solid map.get($colors, 'lightgray');
  flex-shrink: 0;
}
