@use 'sass:map';

.chat-search {
  height: $menus-height;
  border-bottom: 1px solid map.get($colors, 'lightgray');
  flex-shrink: 0;
  display: flex;
  align-items: center;

  &-top {
    border-bottom: 1px solid map.get($colors, 'lightgray');
  }

  &-bottom {
    border-top: 1px solid map.get($colors, 'lightgray');
  }
}
