@use 'sass:map';

.sidenav {
  position: absolute;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: map.get($colors, 'white');
  box-shadow: 1px 1px 10px 1px #fff;
}
