.credentials_form {
  border: 1px solid #999999;
  border-radius: 12px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px;
  .credentials_title {
    font-size: 2em;
    margin-bottom: 60px;
  }
  .credentials_link {
    font-size: 1em;
    color: #999999;
    margin-top: 20px;
  }
}