@use 'sass:map';

.text-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: flex-end;
  width: 400px;
  height: 50px;

  label {
    color: map.get($colors, 'gray');
    font-size: 0.8em;
    display: none;
  }

  input[type='text'],
  input[type='password'] {
    border: none;
    border-bottom: 2px solid map.get($colors, 'gray');
    padding: 0;
  }
}
