//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup
+centerChildrenMixin(parentClasses.center_children)
  div(class=`${classes.page_not_found_logo_wrapper}`)
    img(src= pageNotFoundLogo class=`${classes.page_not_found_logo}`)
  +errorMessage('404', 'Page Not Found', '/index.html', 'Go Back', errorMessageClasses)