//- including mixins
//- include ../../../src/components/errorMessage/errorMessage.pug
//- include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup

//- +centerChildrenMixin()
//-   div(class='page-not-found-logo-wrapper')
//-     img(src= pageNotFoundLogo class='page-not-found-logo')
//-   +errorMessage(parameters)

//- div(class='center-children1')
//-   div(class='page_not_found_logo_wrapper')
//-     img(src= pageNotFoundLogo class='page_not_found_logo')
//-   != errorMessage
