//- h1(class=`${classes.colormy}`) Sign In...124 #{data}!
extends ../../../src/templates/centerChildren/centerChildren

block content
  div(class=`${classes.page_not_found_logo_wrapper}`)
    img(src= pageNotFoundLogo class=`${classes.page_not_found_logo}`)