//- including mixins
include ../../../src/components/errorMessage/errorMessage.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug

//- markup
+centerChildrenMixin()
  div(class='page-not-found-logo-wrapper')
    img(src= pageNotFoundLogo class='page-not-found-logo')
  +errorMessage(parameters)