div(class='chats-list')
  each chat in chats
    div(class='chat-card' chat-id= chat.id)
      img(src= chat.avatar class= 'chat-card-avatar')

      div(class='chat-card-main')
        strong #{chat.title}
        div(class='chat-card-main-message' title= chat.lastMessageContent) #{chat.lastMessageContent}

      div(class= 'chat-card-misc')
        div(class= 'chat-card-misc-time' title= chat.lastMessageTime) #{chat.lastMessageTimeFormatted}
        if chat.unreadCount
          div(class= 'chat-card-misc-unread-wrapper')
            div(class= 'chat-card-misc-unread') #{chat.chatUnreadMessagesQty}