@use 'sass:map';

.chats-list {
  @extend %scrollable-list;
  @extend %hidden-scrollbar;

  .chat-card {
    display: flex;
    width: 100%;
    min-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    &:hover {
      background-color: map.get($colors, 'success-bkg');
    }

    .chat-card-avatar {
      width: 50px;
      height: 50px;
      align-self: center;
    }

    .chat-card-main {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: calc(100% - 80px);

      .chat-card-main-message {
        color: map.get($colors, 'gray');
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8em;
        margin-bottom: 8px;
      }
    }

    .chat-card-misc {
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8em;

      .chat-card-misc-time {
        color: map.get($colors, 'gray');
        margin-top: 10px;
        font-size: 0.8em;
        white-space: nowrap;
      }

      .chat-card-misc-unread-wrapper {
        background-color: map.get($colors, 'yellow');
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        .chat-card-misc-unread {
          font-weight: bold;
        }
      }
    }
  }
}
