mixin avatar(parameters = { classes: [] })
  div(class=['avatar_wrapper', ...parameters.classes])
    img(src= avatarLogo class='avatar_logo')
    div(class='avatar_overlay')
      div(id='avatar' class='avatar_text') Change
