mixin avatar()
  div(class='avatar_wrapper' style=`${attributes.style}`)
    img(src= avatarLogo class='avatar_logo')
    div(class='avatar_overlay')
      div(id='avatar' class='avatar_text') Change
