mixin avatar(parameters = { classes: [] })
  div(class=['avatar-wrapper', ...parameters.classes])
    img(src= avatarLogo class='avatar-logo')
    div(class='avatar-overlay')
      div(id='avatar' class='avatar-text') Change
