@use 'sass:map';

.primary_btn {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: map.get($colors, 'yellow');
  border-radius: 20px;
  width: 400px;
  height: 50px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  .primary_btn_title {
    font-size: 1.3em;
    line-height: 20px;
  }
}