//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/textField/textField.pug

//- variables
- 
  const parameters = {
    title: 'Create Account',
    linkTo: '/signIn.html',
    linkMessage: 'Sign in'
  }
- 
  const textFieldParameters = [
    {
      label: 'Email',
      type: 'text',
      name: 'email', 
      id: 'email', 
      placeholder: 'Email'
    },
    {
      label: 'Username',
      type: 'text',
      name: 'login', 
      id: 'login', 
      placeholder: 'Username'
    },
    {
      label: 'First Name',
      type: 'text',
      name: 'first_name', 
      id: 'first_name', 
      placeholder: 'First Name'
    },
    {
      label: 'Last Name',
      type: 'text',
      name: 'second_name', 
      id: 'second_name', 
      placeholder: 'Last Name'
    },
    {
      label: 'Phone',
      type: 'text',
      name: 'phone', 
      id: 'phone', 
      placeholder: 'Phone'
    },
    {
      label: 'Password',
      type: 'password',
      name: 'password', 
      id: 'password', 
      placeholder: 'Password'
    },
    {
      label: 'Confirm password',
      type: 'password',
      name: 'confirm_password', 
      id: 'confirm_password', 
      placeholder: 'Confirm password'
    }
  ]

//- template
+centerChildrenMixin(templateStyles)
  +credentialsForm(parameters, moduleSignInStyles)
    div(class=`${moduleSignInStyles.credentials_title}` style='margin-bottom:40px;')= parameters.title
    each item in textFieldParameters
      +textField(item, componentTextFieldStyles)
    +primaryBtn('Sign Up', componentPrimaryBtnStyles)(style='margin-top:60px;')
    a(class=`${moduleSignInStyles.credentials_link}` href=parameters.linkTo) #{parameters.linkMessage}