//- including mixins
include ../../../src/modules/credentialsForm/credentialsForm.pug
include ../../../src/templates/centerChildren/centerChildrenMixin.pug
include ../../../src/components/primaryBtn/primaryBtn.pug
include ../../../src/components/textField/textField.pug

//- template
+centerChildrenMixin()
  main
    +credentialsForm()
      div(class='credentials_title' style='margin-bottom:40px;')= parameters.title
      each item in textFieldParameters
        +textField(item)
      +primaryBtn('Sign Up')(style='margin-top:60px;')
      a(class='credentials_link' href=parameters.linkTo) #{parameters.linkMessage}