@font-face {
  font-family: 'Corben';
  font-display: swap;
  src: url('../../../static/fonts/corben-v14-latin-regular.woff2') format('woff2'),
    url('../../../static/fonts/corben-v14-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

