// margin-bottom
.mb-4 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 60px;
}

// margin-top
.mt-6 {
  margin-top: 60px;
}

.mt-auto {
  margin-top: auto;
}

// rotation
.rot-180 {
  transform: rotate(180deg);
}

// other stuff
.hidden {
  visibility: hidden;
}
